<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>Rent A Car</title>
  <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
  <link th:rel="stylesheet" th:href="@{assets/daterangepicker/daterangepicker.css}"/>
  <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
  <link th:rel="stylesheet" th:href="@{webjars/font-awesome/5.11.2/css/all.css} "/>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Rent A Car</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/cars}">List of Cars</a>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/admin}">Admin</a>
    </ul>
  </div>
</nav>
<br>
<br>


<div class="container">
  <div class="row">
    <h1>List Cars</h1>
  </div>

  <table class="table table-striped table-bordered">
    <thead class="table-dark">
    <tr>
      <th>Car Type</th>
      <th>Car Price</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "car : ${cars}">
      <td th:text = "${car.carType}"></td>
      <td th:text = "${car.price}"></td>

      <td>
     <a th:href ="@{/cars/hire/{id}(id=${car.id})}" class="btn btn-primary">Rent</a>

      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>